# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignore all executables
*.exe

# ignore all ipython notebooks, which are mainly used for testing
*.ipynb