# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# all executables
*.exe

# all ipython notebooks, sometimes used for testing
*.ipynb

# egg-info directories from setuptools
*.egg-info/

# mypy cache for type checking
.mypy_cache/